h1 {
    display: grid;
    font-size: 5.5em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    color:black;
    justify-content: center;
    box-shadow: 0px 15px 20px purple;
}


h3 {
    font-size: 3em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    font-size: 2em;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    background-color:purple;
    box-shadow: 0px 15px 20px black;
}

p:hover {
    background-color: snow;
}

label {
    display: grid;
    cursor: default;
    font-size: 2em;
    justify-content: left;
}

input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
}


